.chart-diplay{
    height:300px;
}
.bg-title{
    height: 39.2px;
    background-color: rgba(113, 109, 255, 0.7);
    font-size: 15px;
    color: #fff;
    text-align: center;
    line-height: 42px;
}