
<div class="matero-row ob-dashboard" fxLayout="row wrap">

<!-- Charts -->

  <div  class="matero-col box info" fxFlex.gt-sm="33" fxFlex="100" cdkDrag >
      <profile-info></profile-info>
  </div>

  <div class="matero-col box info"  fxFlex.gt-sm="33" fxFlex="100" cdkDrag >
      <charts> </charts>
  </div>

  <div class="matero-col box info" cdkDrag fxFlex.gt-sm="33" fxFlex="100" >
       <payment-schedules> </payment-schedules>
  </div>

  <!-- others -->
  <div class="matero-col box info" cdkDrag fxFlex.gt-sm="50" fxFlex="100" >
      <recent-action> </recent-action>
  </div>

  <div class="matero-col box info" cdkDrag fxFlex.gt-sm="50" fxFlex="100" >
     <transaction-list> </transaction-list>
  </div>
  </div>





