<mat-card class="dash-profile-col1">
  <mat-card-content>
    <mat-grid-list cols="1">
      <mat-grid-tile>
        <div class="prof-left">
          <img class="m-t-0 m-b-8 dash-profile" src="assets/images/avatar.jpg" alt="" width="70">
          <p class="m-t-0 m-b-8">John Doe</p>
        </div>

        <div class="prof-right">
          <p class="m-t-0 m-b-8 ob-text">REMANING BALANCE</p>
          <p class="m-t-0 ob-bal">$ 2,52,650.00</p>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</mat-card>

<mat-card class="dash-profile-col2">
  <mat-card-content>
    <mat-grid-list cols="2">

      <mat-grid-tile>
        <div class="text-center">
          <img class="m-b-8" src="./assets/images/icons/calendar.svg" class="calendar" width="24">
          <p class="m-t-0 m-b-8 font-12">LAST ACCESS DATE</p>
          <p class="m-t-0 text-grey-500 font-14">13 JUNE 2019</p>
        </div>
      </mat-grid-tile>

      <mat-grid-tile>
        <div class="text-center">
          <img class="m-b-8" src="./assets/images/icons/clock.svg" class="calendar" width="24">
          <p class="m-t-0 m-b-8 font-12">AT TIME</p>
          <p class="m-t-0 text-grey-500 font-14">8 : 59 : 30 pm</p>
        </div>
      </mat-grid-tile>

      <mat-grid-tile class="profile-login">
        <div class="text-center">
          <img class="m-b-8" src="./assets/images/icons/stats.svg" class="stats" width="24">
          <p class="m-t-0 m-b-8 font-12">LOGINS LAST WEEK</p>
          <p class="m-t-0 text-grey-500 font-14">
            4
            <sub>
              <mat-icon class="icon-12 mat-icon notranslate material-icons mat-icon-no-color" role="img"
                aria-hidden="true">add</mat-icon>
              35<mat-icon [inline]="true" matSuffix>%</mat-icon>
              <mat-icon class="icon-12 mat-icon notranslate material-icons mat-icon-no-color" role="img"
                aria-hidden="true">arrow_drop_up</mat-icon>
            </sub>
          </p>
        </div>
      </mat-grid-tile>

      <mat-grid-tile class="profile-login">
        <div class="text-center">
          <img class="m-b-8" src="./assets/images/icons/stats.svg" class="stats" width="24">
          <p class="m-t-0 m-b-8 font-12">LOGINS LAST MONTH</p>
          <p class="m-t-0 text-grey-500 font-14">18
            <sub>
              <mat-icon class="icon-12 mat-icon notranslate material-icons mat-icon-no-color" role="img"
                aria-hidden="true">add</mat-icon>
              52<mat-icon [inline]="true" matSuffix>%</mat-icon>
              <mat-icon class="icon-12 mat-icon notranslate material-icons mat-icon-no-color" role="img"
                aria-hidden="true">arrow_drop_up</mat-icon>
            </sub>
          </p>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</mat-card>