.ob-bg-title {
    height: 39.2px;
    background-color: rgba(113, 109, 255, 0.7);
    font-size: 15px;
    color: #ffffff;
    text-align: center;
    line-height: 42px;
}

.ob-matline {
    font-size: 12px !important;
}

.ob-currency {
    font-size: 15px !important;
    width: 60px;
    color: #716dff;
}

.ob-add-button {
    border-radius: 2px;
    border: solid 1px #716dff;
}

.ob-button-center {
    text-align: center;
    margin-top:20px;
}

.mat-list-text {
    padding-right: 16px !important;
}
