<mat-card>
    <mat-card-subtitle class="bg-title"> RECENT ACTION </mat-card-subtitle>
    <mat-card-content>
        <mat-grid-list cols="2" rowHeight="130">
            <mat-grid-tile class="bg-bill-payment">
                <mat-card class="bg-bill-payment">
                    <mat-card-subtitle class="title-color">Utility Bill Payments</mat-card-subtitle>
                    <mat-card-content>
                        <button mat-raised-button class="bg-bill-payment title-color">
                            <small class="text-muted recent-action-subtitle">make payment</small>
                        </button>
                    </mat-card-content>
                </mat-card>            
            </mat-grid-tile>
            <mat-grid-tile class="bg-pay-card">
                <mat-card class="bg-pay-card">
                    <mat-card-subtitle class="title-color">Pay Your Card Bills</mat-card-subtitle>
                    <mat-card-content>
                        <button mat-raised-button class="bg-pay-card title-color">
                            <small class="text-muted recent-action-subtitle">make payment</small>
                        </button>
                    </mat-card-content>
                </mat-card>
             </mat-grid-tile>
            <mat-grid-tile class="bg-fund-transfer">
                <mat-card class="bg-fund-transfer">
                    <mat-card-subtitle class="title-color">Fund Transfer</mat-card-subtitle>
                    <mat-card-content>
                        <button mat-raised-button class="bg-fund-transfer title-color">
                            <small class="text-muted recent-action-subtitle">transfer</small>
                        </button>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile class="bg-open-fd">
                <mat-card class="bg-open-fd">
                    <mat-card-subtitle class="title-color">Open FD/RD</mat-card-subtitle>
                    <mat-card-content>
                        <button mat-raised-button class="bg-open-fd title-color">
                            <small class="text-muted recent-action-subtitle">view details</small>
                        </button>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-card-content>
</mat-card>
